.st-content {
    margin: 50px 0 50px;
}
.white-color {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.error-404 {
    padding: 50px;
}
.error-404 h1 {
    font-size: 72px;
    margin-bottom: 30px;
}
.lead{
    color: #1b1b1b;
}
p.go-back-home {
    margin: 40px;
    color: #fff;
    text-align: center;
}
p.go-back-home a {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    color: #00c5c1;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
p.go-back-home a:hover {
    background: #00c5c1;
    color: #fff;
    border-color: #00c5c1;
}